:root {
  font-family: Monserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-yellow {
  background-color: yellow;
}

.bg-cyan {
  background-color: cyan;
}

.bg-teal {
  background-color: teal;
}

.bg-aqua {
  background-color: aqua;
}

.bg-thistle {
  background-color: thistle;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-normal {
  background-color: blanchedalmond;
}

.sintetic {
  font-size: x-large;
  font-weight: bold;
}

.allApp {
  flex: 1;
}

.uploadBox {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  background-color: transparent;
}

.resultTab {
  background-color: transparent;
  flex-grow: 1;
}

.uploadTab {
  background-color: transparent;
  flex-grow: 1;
}

.extractTxt {
  margin-left: 25px;
  margin-top: 1px;
}

.extractTxtBold {
  margin-left: 5px;
  margin-top: 1px;
  font-weight: bold;
}

.MuiCheckbox-label {
  font-size: small;
}

.divider {
  margin-left: 10px !important;
}

.dividerText {
  min-width: 110px;
}

.uploadParam {
  width:275px;
  margin-left: 25px;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  word-wrap: break-word !important;
  display:block !important;
  white-space: break-spaces !important;
}

.MuiContainer-root {
  max-width: none !important;
}

.searchTab {
  margin-top: 300px;
}

.searchWidget {
  display: block;
  margin-top: 1%;
  margin-left: 25% !important;
  margin-right: 25%;
  border: 2px solid black;
  width: auto !important;
}

.searchInput {
  display:flex !important;
}

.highlighted {
  background-color: #ffff654f;
}

.unhighlighted {
  white-space: nowrap;
}

.highlighted:after, .unhighlighted:after {
  content: "\00a0";
}

.relevant {
  display:block
}

.unrelevant {
  opacity: .5;
  display:block;
}

.relevant .unrelevant_icon {
  visibility: hidden;
}

.unrelevant_icon {
  cursor: context-menu;
  margin-right: 4px;
  font-size: x-large;
}

.type-writer {
  white-space: break-spaces;
}

